@tailwind base;
@tailwind components;
@tailwind utilities;

.product-categories Link {
  @apply md:w-1/3 h-auto;
  }
.product-categories div:hover{
  @apply cursor-pointer  ;
  }


.product-categories div img{
  @apply w-full h-auto rounded-lg  ;
}

.product-categories div img:hover{
  @apply shadow-xl
}
 
.product-categories div p{
@apply pt-8 text-2xl font-bold text-orange-500
} 
body{
  @apply bg-slate-100
}
.title_h1{
  @apply lg:text-2xl text-xl font-bold text-title-color text-center
}
.cart_ul li {
  @apply my-3 text-base
}

  th:first-child, td:first-child {
     /* Задайте желаемую ширину */
  }
  .table-shoppingcart th:first-child, td:first-child{
    width: 140px;
  }
  table,
    th,
    td {
      
        /* Styling the border. */
       
    }
@media screen and (max-width: 640px) {
  .table-shoppingcart th:first-child, td:first-child{
    width: 110px;
  }
}
